.wrapper {
  margin-bottom: 25px;

  :global {
    .ant-form-item-label {
      padding-bottom: 0px;
    }

    .ant-form-item {
      margin-bottom: 10px;
    }
  }
}

.button {
  margin-top: 15px;
}

.viewDebug {
  cursor: pointer;
}

.input {
  text-align: left;
  direction: ltr;
}

.buttonsWrapper {
  margin-top: 16px;
  display: flex;
  justify-content: center;

  :global {
    .ant-btn {
      width: 65px !important;
      height: 45px !important;
    }
  }
}