@import '../../../shared/styles/variables';
@import '../../../shared/styles/mixins';

.select {
  height: 45px !important;
  cursor: pointer !important;
  @include mq-max('md') {
    height: 50px !important;
  }
  :global {
    .ant-select-selection-item {
      cursor: pointer;
    }
  }
}

.input {
  border-radius: 8px !important;
  border: 1px solid #aaa !important;
  height: 45px;
  outline: none !important;
  direction: ltr;
  :global {
    input {
      outline: 0 !important;
    }
  }
  @include mq-max('md') {
    height: 50px !important;
  }
}

.spinner {
  cursor: pointer;
}

.alertWrapper {
  margin-bottom: 30px;
  :global {
    .ant-alert-description {
      text-align: center;
      font-weight: bold;
    }
  }
}
.borderSuccess{
  border: 1px solid #52c41a !important;
}
.borderError{
  border: 1px solid #ff4d4f !important;
}