@import '../../../shared/styles/variables';
@import '../../../shared/styles/mixins';

.select {
  height: 45px !important;
  cursor: pointer !important;
  @include mq-max('md') {
    height: 50px !important;
  }
  :global {
    .ant-select-selection-item {
      cursor: pointer;
    }
  }
}

.input {
  border-radius: 8px !important;
  border: 1px solid #aaa !important;
  height: 45px;
  outline: none !important;
  @include mq-max('md') {
    height: 50px !important;
  }
}

.spinner {
  cursor: pointer;
}