.container {}

.formWrapper {
  margin-bottom: 15px;
}

.button {
  background-color: #F0F0F1;
  height: 50px !important;
  color: darkgray;
}
.changed {
  background-color: #1677ff;
  color: white;
}
