@import '../../../shared/styles/variables';
@import '../../../shared/styles/mixins';

.container {
  width: 750px;
  background: #fff;
  margin: 45px auto;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  :global {
    .ant-tabs-nav-list {
      @include mq-max('md') {
        width: 100%;
      }
    }
  }
  @include mq-max('md') {
    width: 92%;
    margin-top: 40px;
    margin-left: 24px;
  }
}

.titleSettings {
  margin: 0 12px;
}

.tabs {
  margin-left: 15px;
  margin-right: 15px;
}