@import '../../../shared/styles/variables';
@import '../../../shared/styles/mixins';

.container {
  width: 600px;
  background: #fff;
  margin: 45px auto;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  @include mq-max('md') {
    width: 92%;
    margin-top: 40px;
    margin-left: 24px;
  }
}

.titleSettings {
  margin: 0 12px;
}

.select {
  cursor: pointer !important;
  :global {
    .ant-select-selection-item {
      cursor: pointer;
    }
  }
}

.formWrapper {
  padding: 16px;
}

.input {
  border-radius: 8px !important;
  border: 1px solid #aaa !important;
  height: 40px;
  outline: none !important;
}

.button {
  height: 50px !important;
}

.viewDebug {
  cursor: pointer;
}