.tree {
  background-color: transparent;
}
.mainWrapper {
  max-height: 275px;
  overflow-y: auto;
  background-color: #f5f2f2;
  border-radius: 8px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  min-height: 100px;
  padding-top:8px;
  padding-bottom: 8px;
}
.spin {
  margin-top: 1rem;
}