@import '../../../shared/styles/variables';
@import '../../../shared/styles/mixins';

#page-aboutus-content {
  .row {
    min-height: 100vh;
  }
  .image {
    border: 3px solid #ddd;
    border-radius: 50%;
    padding: 7px;
  }
  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .team {
    color: $black-600;
    font-size: 1.3rem;
    font-weight: bold;
  }
  .info {
    margin-top: 20px;
    margin-bottom: 20px;
    color: $black-300;
  }
  .socials {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    a {
      &:not(:first-child) {
        margin-left: 10px;
      }
      &:focus, &:active {
        outline: none;
        box-shadow: none;
      }
      img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        border: 1px solid #ddd;
        padding: 3px;
      }
    }
  }
}
