body.rtl {
  .ant-tabs-tab:first-child {
    margin-left: 32px;
  }
}

.ant-select-multiple .ant-select-selector{
  padding-inline-end: 40px !important;
}
.ant-select-selector {
  cursor: pointer !important;
  padding: 5px !important;
}
.ant-empty-normal {
  margin-block: 8px !important;
}
.ant-select-single{
  height: auto !important;
}